body {
  max-width: 1440px;
  height: 1500px;
  margin: auto;
  font-family: Raleway, Arial, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 293px;
  padding: 0 50px;
}

.header__menu-list {
  display: flex;
  gap: 33px;
  font-size: 18px;
  list-style-type: circle;
}

.header__link {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25em;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  justify-self: center;
  width: 148px;
  padding: 5px;
}
.address {
  justify-self: end;
  align-self: center;
}

.address-link {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}

.address-list-item {
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  list-style: none;
}

.location a {
  text-decoration: none;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0.6;
  background: #000;
}

.cover {
  position: relative;
  padding: 165px 50px 51px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  display: grid;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 1.22em;
  text-transform: uppercase;
}

.accent__span {
  letter-spacing: 0.3em;
}

.text-left::after {
  content: "О";
  margin: 0 30px;
}

.text-center {
  justify-self: center;
}

.text-center::after {
  content: "Е";
  margin: 0 30px;
}

.text-right {
  justify-self: end;
}

.text-right-null {
  letter-spacing: 0cm;
}

.text-right::before {
  content: "Н";
  margin: 0 30px;
}

.auction__section {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding-top: 124px;
}

.auction__promo {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 1.14rem;
}

.auction__button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots__heading {
  padding: 180px 50px;
}

.lots__title {
  padding-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
.lots__card-list {
  display: flex;
  flex-flow: wrap;
  gap: 25px;
  padding-top: 27px;
  list-style: none;
}
.lots__card-list-item {
  flex-grow: 1;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 100%;
  min-height: 450px;
  padding: 50px 40px;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card__title {
  position: relative;
  align-items: center;
  align-content: center;

  align-self: center;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-color: #fff;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.18em;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}
.lots__look-more-link {
  display: block;
  padding-top: 30px;
  padding-left: 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25em;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-right: 50px;
  padding-left: 60px;
}
.about__logo {
  justify-self: center;
  width: 240px;
  height: 240px;
  margin-right: 20px;
  margin-bottom: 135px;
  border-radius: 50%;
  background: #000000;
}
.about__logo-image {
  padding: 63px 46px;
}
.about__column {
  grid-column: 2/4;
  align-self: end;
}
.about__title {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
.about__text {
  padding-bottom: 25px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 155px 50px;
}

.footer__address {
  justify-self: start;
}

.footer__menu-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  list-style: none;
}

.footer__link {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}
.footer__social-list {
  align-self: center;
  margin-bottom: 50px;
  padding-left: 75px;
  font-size: 18px;
}

.footer__logo-list {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  justify-self: end;
  gap: 46px;
  padding-left: 135px;
  font-size: 18px;
  list-style: none;
}
